<div class="w-full h-[100px] bg-blue-300 flex justify-between items-center px-5">
  <div class="2xl:w-1/4 cursor-default">
    <h3 class="text-[calc(1vh+1vw*1.8)] font-mono">Канбан</h3>
  </div>

  <div class="2xl:w-3/4 flex gap-5 justify-end">
    <a
      class="font-mono text-[calc(1vw+1vh*0.5)] cursor-pointer hover:translate-y-[-2px] transition-[0.3s]"
    >
      Активные
    </a>
    <a
      class="font-mono text-[calc(1vw+1vh*0.5)] cursor-pointer hover:translate-y-[-2px] transition-[0.3s]"
    >
      Выполненные
    </a>
    <a
      class="font-mono text-[calc(1vw+1vh*0.5)] cursor-pointer hover:translate-y-[-2px] transition-[0.3s]"
    >
      Все
    </a>
  </div>
</div>
